body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0; padding:0; 
}

body { 
	background: #fff; 
}

#process{
	width: 100%;
	height: auto;
	padding: 20px 0;
}

#process h1{
	text-align: center;
	font-family: 'Dancing Script';
}

#process h4{
	font-family: 'Monospace';
	margin: 10px 20px;
	font-size: 10px; 
}

#process ul{
	margin: 10px;
	font-size: 12px;
}

#process span{
	padding: 5px;
	background: #248f24;
	border-radius: 8px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	margin: 5px 10px;
	display: inline-block;
	color: #FFF;
}

#process li{
	display: inline-block;
}

#process li span:nth-child(odd){
	padding: 5px;
	background: #262626;
	border-radius: 8px 0 0 8px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	margin: 5px 0 5px 5px;
	
	color: #FFF;
}

#process li span:nth-child(even){
	padding: 5px;
	background: #248f24;
	border-radius: 0 8px 8px 0;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	margin: 5px 5px 5px 0;
	display: inline-block;
	color: #FFF;
}

#process hr{
	margin: 20px;
}

/* optional Container STYLES */
.chart { 
	height: auto; 
	width: auto; 
	margin: 10px; 
	/*border: 4px solid #E8E8E3;*/ 
	border-radius: 3px; 
}
.node { 
	min-width: 60px;
	text-align: center;
	color: #000; 
	border: 2px solid #E8E8E3; 
	border-radius: 3px; 
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	background: #FFF;
}
.node:hover{
	color: #8B8B8B;
	text-shadow: 1px 1px rgba(0,0,0,.15);
}
.node p { 
	font-size: 10px; 
	line-height: 20px; 
	height: 20px; 
	font-weight: bold; 
	padding: 3px; 
	margin: 0; 
}